body {
    font-size: .875rem;
  }
  
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Content
   */
  
  [role="main"] {
    padding-top: 133px; /* Space for fixed navbar */
  }
  
  @media (min-width: 768px) {
    [role="main"] {
      padding-top: 48px; /* Space for fixed navbar */
    }
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .sidebar-right {
      padding-top:48px;
      border-left: 1px solid #fff;
      color: #fff;
  }

  .characterSheet {
    background-image: url('img/bg.png');
    background-color: #f6f5ed;
  }


//  Round Checkboxes

.checkbox-round {
  width: 1.01em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #000;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-right: 2px;
}

.checkbox-round:checked {
  background-color: gray;
}

input[type="text"] {
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid;
}

textarea {
  border-top: 0px !important;
  border-right: 0px !important;
  border-left: 0px !important;
  border-bottom: 2px solid !important;
}

select {
  border-top: 0px !important;
  border-right: 0px !important;
  border-left: 0px !important;
  border-bottom: 2px solid !important;
}

.characterSheet input[type="text"], .characterSheet textarea, .characterSheet select {
  background-color: #eaf0f5;
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}

.form-row {
  margin: 0 0 0 0;
}

.characterDetails {
  padding: 20px;
}

h2 {
  overflow: hidden;
  text-align: center;
}

h2:before,
h2:after {
  background-color: #c73c3c;
  content: "";
  display: inline-block;
  height: 5px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h2:before {
  right: 0.5em;
  margin-left: -50%;
}

h2:after {
  left: 0.5em;
  margin-right: -50%;
}

label {
  margin-bottom: 0;
}

.willpower-row {
  padding-left: 3%;
}

.essence-row {
  padding-left: 10%;
}

.willpower {
  flex: 0 0 10%;
  max-width: 10%
}

.essence {
  flex: 0 0 20%;
  max-width: 20%
}

.weapons {
  padding: 0;
  max-width: 100%;
}

.healthBox {
  width: 3.33%;
}

.healthRow {
  padding-right: 15px;
  padding-left: 15px;
}

.xxsmall {
  font-size: xx-small;
}

.abilities .form-row {
  margin-top: 3px;
}

.hide-on-load {
  display: none;
}

body {
  background-color: #444;
}
.container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  margin: 8px auto;
}
.no, .yes {
  height: 100%;
}
.yes {
  overflow: auto;
}

.fixed-top {
  border-bottom: 1px solid #fff;
}

.disabled {
  background-color: #999 !important;
  color: #fff;
}

.twitter-typeahead {
  position: unset !important;
  display: block !important;
}

.rightTop {
  padding: 20px 0 10px 0;
  border-bottom: 2px solid #fff;
}

.rightBottom {
  padding-top: 10px;
}


// MODE TOGGLES
.switch-field {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #a5dc86;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

#xpTable {
  margin-top: 35px;
}

